spring:
  application:
    name: manonsunderground

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
    table: flyway_schema_history_v2

networks:
  api:
    base-url: https://master.333networks.com/json
    default-results-per-page: 50
    min-update-interval-minutes: 7.5
    user-agent: "Manon's Underground API - Data from 333networks"

server:
  port: 10000

logging:
  level:
    com.manonsunderground: INFO
    org.hibernate.SQL: WARN
